body{
    background-color: rgb(241, 229, 176);
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* header element */
header{
    background-image: linear-gradient(to bottom right, #222222 ,#727272);
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fbe9a9;
    padding-top: 30px;
}
.title1{
    font-size: 95px;
    font-family: "Shadows Into Light"; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}

/* top content */

.top-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Shadows Into Light"; font-style: normal; font-variant: normal; font-weight: 600;
}

.top-content img{
    max-width: 100%;
    max-height: auto;
    padding-top: 75px;
    margin-left: 40px;
    margin-right: 40px;
}

.title2{
    padding-left: 17rem;
    padding-top: 9rem;
    font-size: 65px;
}

.family-description{
    padding-left: 18rem;
    padding-right: 18rem;
    font-size: 30px;
    color: rgb(63, 63, 63);
}

.img-description{
    padding-left: 4rem;
    color: rgb(100, 100, 100);
    font-size: 25px;
}


/* flip card #1 */

.flipcard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 4rem;
    padding-right: 4rem;
}

.container{
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

.card-container{
    width: 400px;
    height: 600px;
}

.card{
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card-container:hover .card{
    transform: rotateY(180deg);
}

.card figure{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .front img{
    max-width: 70%;
    max-height: 100%;
}
.card .front .friend-list{
    padding-top: 55px;
    text-align: left;
    padding-right: 10px;
    font-size: 20px;
    font-family: "Shadows Into Light"; font-style: normal; font-variant: normal; font-weight: 600;
}

.friend-title{
    font-family: "Shadows Into Light"; font-style: normal; font-variant: normal; font-weight: 800;
    font-size: 50px;
}


.card .front{
    background-color: #709db0;
    text-align: center; 
}

.card .back img{
    max-width: 100%;
    max-height: 100%;
    margin-top: -35px;
    margin-bottom: -15px;
}

.card .back{
    background-color: #d71a21;
    transform: rotateY(180deg);
    text-align: center;
}
.card .back .enemies-list{
    text-align: left;
    padding-right: 15px;
    font-size: 20px;
    font-family: "Shadows Into Light"; font-style: normal; font-variant: normal; font-weight: 600;
}

.enemies-title{
    font-family: "Shadows Into Light"; font-style: normal; font-variant: normal; font-weight: 800;
    font-size: 50px;
}
/* Image between the 2 flip card */

.huey-think{
    max-height: 60rem;
    margin-top: 6rem;
    border-radius: 90px;
}

/* flip card #2 */

.container2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container2{
    width: 400px;
    height: 600px;
}

.card2{
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card-container2:hover .card2{
    transform: rotateY(180deg);
}

.card2 figure{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card2 .front2{
    background-color: #d71a21;
    text-align: center;
}

.card2 .front2 img{
    padding-top: 40px;
}
.characteristics{
    font-size: 50px;
    font-family: "Shadows Into Light"; font-style: normal; font-variant: normal; font-weight: 800;
}

.card2 .front2 .stats{
    padding-top: 40px;
    text-align: left;
    padding-left: 26px;
    padding-right: 5px;
    font-size: 20px;
    font-family: "Shadows Into Light"; font-style: normal; font-variant: normal; font-weight: 600;
}

.card2 .back2{
    background-color: #709db0;
    transform: rotateY(180deg);
    text-align: center;
}

.card2 .front2 img{
    width: 50%;
    height: 37%;
    padding-top: 20px;
}

.card2 .back2 img{
    width: 50%;
    height: 37%;
}

.think-about-him{
    font-size: 40px;
    padding-top: 15px;
    font-family: "Shadows Into Light"; font-style: normal; font-variant: normal; font-weight: 800;
}

.think-of{
    text-align: left;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: "Shadows Into Light"; font-style: normal; font-variant: normal; font-weight: 600;
}

/*footer*/

footer{
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #fbe9a9;
}

.link{
    color: #709db0;
}

.link:hover{
    color: #d71a21;
}
